.DetailCardItem {
  padding: 3px 15px;
  font-size: .75rem;
  line-height: 1.4;

  :focus {
    background-color: Aqua;
  }

  &__Label {
    font-weight: 700;
    margin-right: 10px;
    color: #7f7f7f;
    user-select: none;
  }
  &__Value {
    word-break: break-all;
  }
}