.RequestPanel {
  width: 100%;

  &__Logo {
    font-weight: 700;
    color: #c9c9c9;
  }

  &__Status {
    font-size: .8rem;
    font-weight: 400;
    margin-left: 15px;

    &--Online {
      color: #5b8800;
    }
    &--Offline {
      color: #e74343;
    }
  }

  &__Filter {
    background-color: #252527;
    border: 0;
    outline: none;
    color: #c9c9c9;
    padding: 5px;
  }

  &__Header {
    background-color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}